:root{
  --bg-color: linear-gradient(90deg,#04b4ff,#00d8a1);
  --bg-color: rgb(255,255,255,.5);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg,#04b4ff,#00d8a1);

  display: flex;
  justify-content: center;
  align-items: center;
}